@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2f0c46;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background-modal {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2f0c46;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background {
  background: linear-gradient(114deg, #DADADE -1.26%, #000 -1.25%, #2C0941 90.27%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.play-container {
  position: relative;
  width: 500px;
  height: 500px;
}

.play-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #FFFFFF20;
  border-radius: 50%;
  border-style: dashed;
  animation: rotation 100s infinite linear;
}

.play-icon {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: absolute;
  transform: rotate(calc(360deg/var(--x) * var(--i)));
  transform-origin: 300px;
  transition: 0.2s;
}

.play > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  transform: rotate(calc(-360deg/var(--x) * var(--i)));
}

.lives {
  display: flex;
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}

.lives div {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
}

.lives div+div {
  margin-left: 10px;
}

.bomb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
}

.bomb_hint img {
  margin-top: -36px;
  margin-left: 8px;
}

.bomb_hint span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.arrow {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateX(-50%) translateY(-50%);
  width: 240px;
  height: 10px;
  background-color: #fff;
  transition: 0.2s;
  transform: rotate(calc(360deg/var(--x) * var(--i)));
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  width: 18%;
  height: 10px;
  left: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(-45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
}

.switch {
  margin-top: 3px;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1C0629;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider span {
  margin-left: 3.5px;
  margin-bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  background: #1C0629;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  background: #1C0629;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

input:checked + .slider span {
  background: white;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}