@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2f0c46;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background-modal {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #2f0c46;
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.4;
}

.background div:nth-child(1) {
  background: #ffa72480;
  width: 30%;
  padding-top: 30%;
  left: 20%;
  top: 63%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: #ffa72480;
  width: 100%;
  padding-top: 14%;
  left: 0%;
  top: 0%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: #ffa72480;
  width: 51%;
  padding-top: 51%;
  left: 80%;
  top: 65%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
  background: #ffa72480;
  width: 31%;
  padding-top: 71%;
  left: 80%;
  top: 67%;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.play-container {
  position: relative;
  width: 500px;
  height: 500px;
}

.play-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #FFFFFF20;
  border-radius: 50%;
  border-style: dashed;
  animation: rotation 100s infinite linear;
}

.play-icon {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  position: absolute;
  transform: rotate(calc(360deg/var(--x) * var(--i)));
  transform-origin: 300px;
  transition: 0.2s;
}

.play div {
  transition: 0.2s;
  transform: rotate(calc(-360deg/var(--x) * var(--i)));
}

.bomb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: bold;
}