<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "WordexBlast" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased text-slate-50">
    <div class="background">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="sticky top-0 z-10 flex items-center m-4 px-8 bg-white bg-opacity-5 drop-shadow-lg backdrop-blur-lg h-14 rounded-lg justify-between">
      <.link href={~p"/"} class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-700">
        <.icon name="hero-puzzle-piece-solid" class="h-5 w-5" />
      </.link>
      <div class="flex gap-4">
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-700"
            >
              Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-700"
            >
              Log out
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-700"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log_in"}
              class="text-[0.8125rem] leading-6 font-semibold hover:text-zinc-700"
            >
              Log in
            </.link>
          </li>
        <% end %>
      </div>
    </ul>
    <div class="app">
      <%= @inner_content %>
    </div>
  </body>
</html>
